.progress-bar.p_1 {
    width: 90%;
}
.progress-bar.p_2 {
    width: 95%;
}
.progress-bar.p_3 {
    width: 80%;
}
.progress-bar.p_4 {
    width: 85%;
}
.h_w.p-2 {
    height: 300px;
}
.d-block.w-100 {
    height: 350px;
}
